@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap');

html, body, #root, .App {
    height: 100%;
}
.App {
    display: flex;
}
body {
    margin: unset;
    overflow: hidden;
}


